@model SportAssociation.Models.Host_Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Host_Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.representative_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.representative_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.manager_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.manager_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.match_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.match_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
