@model IEnumerable<SportAssociation.Models.Host_Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.representative_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manager_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.match_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (ViewBag.currentManagerID == item.manager_id)
            {
                    <tr>
                        <td>
                    @Html.DisplayFor(modelItem => item.representative_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.manager_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.match_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
}
    </tbody>
</table>
