@model IEnumerable<SportAssociation.Models.Match>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["alertMessage"] != null)
{
    <script type="text/javascript">
        alert('@TempData["alertMessage"]');
    </script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.starting_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ending_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.host_club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.guest_club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stadium_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.starting_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ending_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.host_club)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.guest_club)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stadium_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
